@import "tailwindcss";
@plugin "daisyui" {
  themes: false;
}

@custom-variant dark (&:where(.dark, .dark *));

@layer base {
  :root {
    --color-brand: #145cfc;
    --color-text: #0d0d0d;
    --color-text-muted: #4d4d4d;
    --color-para: theme(--color-gray-700);
    --color-menu: #fffefe;
    --color-background: #fffefe;
    /* --color-bg: #f2f2f2;
    --color-bg-dark: #e6e6e6;
    --color-bg-light: #ffffff; */
  }

  .dark {
    --color-brand: #145cfc;
    --color-text: #f2f2f2;
    --color-text-muted: #b3b3b3;
    --color-para: theme(--color-gray-400);
    --color-menu: #1d1c1f;
    --color-background: theme(--color-zinc-900);
    /* --color-bg: #0d0d0d;
    --color-bg-dark: #000000;
    --color-bg-light: #2b2b2b; */
  }
}

@theme {
  --breakpoint-xs: 32rem;
  --font-hanuman: "Hanuman", serif;
  --font-ibm: "IBM Plex Sans", sans-serif;
  --font-funnel-display: "Funnel Display", sans-serif;
  --color-brand: var(--color-brand);
  --color-text: var(--color-text);
  --color-text-muted: var(--color-text-muted);
  --color-para: var(--color-para);
  --color-menu: var(--color-menu);
  --color-background: var(--color-background);
  /* --color-bg: var(--color-bg);
  --color-bg-dark: var(--color-bg-dark);
  --color-bg-light: var(--color-bg-light); */
}

.card_path {
  clip-path: polygon(0 0, 74% 0, 83% 15%, 100% 15%, 100% 100%, 0 100%);
  border-radius: 12px;
}

body,
* {
  /* cursor: none !important; Force hide default cursor */
}

.underline_animate::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 4px;
  width: 100%;
  height: 4px;
  background: none;
  border-bottom: 4px solid #3b82f6;
  border-radius: 9999px;
  transform: scaleX(1);
  transform-origin: left;
}

/* ─────  Scrollbar  ───── */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-track {
  background-color: var(--color-menu);
  border: 1px solid #e5e7eb;
}
::-webkit-scrollbar-thumb {
  background-color: var(--color-brand);
  border-radius: 9999px;
  border: 2px solid var(--color-menu);
}
::-webkit-scrollbar-thumb:hover {
  background-color: #3e97af;
}

* {
  scrollbar-width: auto;
  scrollbar-color: var(--color-brand) var(--color-menu);
}

.dark ::-webkit-scrollbar-track {
  background-color: var(--color-menu);
}
.dark ::-webkit-scrollbar-thumb {
  background-color: var(--color-brand);
  border: 2px solid var(--color-menu);
}
/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */
