@import "tailwindcss";
@plugin "daisyui" {
  themes: false;
}

@custom-variant dark (&:where(.dark, .dark *));

@layer base {
  :root {
    --color-background: theme(--color-zinc-300);
    --color-text: theme(--color-zinc-900);
  }

  .dark {
    --color-background: theme(--color-zinc-900);
    --color-text: theme(--color-zinc-100);
  }
}

@theme {
  --color-background: var(--color-background);
  --color-text: var(--color-text);
}
